# Natural Language Processing
langchain==0.0.267
chromadb==0.4.6
# InstructorEmbedding
sentence-transformers==2.2.2
langchain-groq
huggingface_hub
transformers
docx2txt
unstructured
unstructured[pdf]
langchain-huggingface
langchain_community

# Utilities
click
requests

# UI Frameworks
chainlit

# Excel File Manipulation
openpyxl

# Environment and Config
python-dotenv

# Huggingface
huggingface_hub[cli]
